<div class="article-wrapper">

  <%= form_with model: @article, url: article_path(@article), local: true do |f| %>

    <%= render "shared/error_messages", model: f.object %>

    <div calss="article-title">
      <%= f.text_field :title, id: "article-title", placeholder:"50文字以内", size:'50' %>
    </div>



    
    <div id="search-result">
    </div>
    <div calss="article-text">
      <%= f.text_area :content, placeholder:"株の知識を共有しよう", id: "article-content" %> 
    </div>
    <div calss="article-image">
      <%= f.file_field :images, name: 'article[images][]', id: "article-image"%>
    </div>
    <div id="image-list"></div>
    <div calss="article-post">
      <%= f.submit "編集する", class:"post-btn" %>
    </div>
 <% end %>
</div>