<div class="container-fluid bg-light">
  <div class="row">

    <div class="col-sm-3 text-center">
      <h1>テスト</h1>
    </div>

    <div class="col-sm-6">

      <% @articles.each do |article| %>
        <div class="list-group border-bottom bg-white m-0"style="height: 155px;">
          <%= link_to article_path(article.id) do %>

            <div class="list-group list-group-flush my-auto" style="width: 640px; margin-left: 25px;">
                <div class="text-dark">
                  <%=time_ago_in_words(article.created_at)%>前
                </div>

                <div class="text-dark">
                  <h2 class="my-2">
                  <%= article.title %>
                  </h2>
                </div>

                <div>
                  <span class="glyphicon glyphicon-tags " aria-hidden="true">
                    <% article.tags.each do |i| %>
                      <span class="badge badge-secondary">
                        <%= i.name %>
                      </span>
                    <%end%>
                  </span>
                </div>

                <div class="text-wrap" >
                  <a class="through-content" style="color: #BBBBBB;">
                    <p class="my-3"><%= truncate(article.content, length: 60) %></p>
                  </a>
                </div>
            </div>


          <% end %>
        </div>
      <% end %>
            <%= paginate @articles %>
    </div>

    <div class="col-sm-3 text-center">
      <% sleep 1 %>
      <% @table.each do |t| %>
        <%= t.inner_text %>
      <% end %>
    </div>

  </div>
</div>