<div class="header">
  <div class="d-flex justify-content-center align-items-center p-3 mb-2 text-dark" style="background-color:#800000;">

    <div class="app-name">
    <a href="/" >
      <span id="app_name" class="display-4 text-white" style="font-weight: bold;">Stockapp</span>
    </a>
    </div>

    <%# <form class="mx-5 bg-white rounded d-flex" action='search' url="/articles/search">
      <button type="button" class="btn btn-secondary btn-sm" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search " viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <div style="width: 715px; border-radius: 50px;" class="search-form">
        <input style="width: 100%; height: 50px; " class="rounded border-0" type="search" placeholder="キーワードから探す">
      </div>
    </form> %>

    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search_form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>


    <div class="text-center">
      <%= link_to "投稿する", new_article_path, class:"new-post-link" %>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"  style="padding: 15px 15px;">
        メニュー
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/">マイページ</a></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>

    </div>
  </div>  
</div>